{% extends 'base-service.twig' %}

{% block body %}

    <div class="form-wrapper">
        <div class="auth-form">
            <img src="{{ asset_url('assets/img/logo.png') }}" alt="" class="form-logo">
            <div class="form-title">
                <h1>Авторизация</h1>
                <p>Введите ваш логин и пароль</p>
            </div>

            <div class="form-inputs">
                <div class="form-input">
                    <label for="user-login">Логин</label>
                    <input type="text" name="" id="user-login" placeholder="Логин">
                </div>

                <div class="form-input">
                    <label for="user-pass">Пароль</label>
                    <input type="password" name="" id="user-pass" placeholder="Пароль">
                    <img src="{{ asset_url('assets/img/icons/eye-pass.svg') }}" alt="" class="show-pass">
                </div>
            </div>

            <div class="form-btn auth-btn">
                <p>Авторизоваться</p>
            </div>

            <p class="error-msg"></p>
        </div>
    </div>

{% endblock %}